.containerButtons {
    width: 60px;
    height: 60px;
    background-color: #FAFAFA;
    margin: 5px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 550;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    margin: 10px;
}